#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
background-color: #eee;
padding: 1rem;
box-shadow: 0 0 5px #333;
border-radius: 5px;
width: 200px;
}